html,
body {
	margin: 0;
	padding: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.main {
	display: grid;
}

.main section,
.main form {
	padding: 1rem;
}

.header {
	display: grid;
	grid-template-columns: auto 1fr;
	padding: 15px;
	margin-bottom: 1.5rem;
	background-color: #092441;
}

.header-title {
	color: #fff;
	margin: 0;
}

.nav {
	display: flex;
	padding-left: 25px;
}

.nav-link {
	padding: 15px;
	color: #fff;
	font-weight: bold;
	text-decoration: none;
}

.form {
	justify-self: center;
	display: grid;
	grid-gap: 1rem;
	align-content: center;
	width: 100%;
	max-width: 600px;
}

.form-control,
.form-select {
	display: block;
	padding: 15px 15px;
	font-size: 1rem;
}

.button {
	padding: 15px;
	background-color: #092441;
	border: 0;
	color: #fff;
	cursor: pointer;
	font-size: 1.5rem;
	font-weight: bold;
	text-align: center;
	text-decoration: none;
}

.danger {
	background-color: #c00;
}

.movies {
	display: flex;
	flex-wrap: wrap;
}

.movie {
	display: grid;
	justify-content: center;
	align-content: center;
	width: 200px;
	height: 300px;
	margin: 15px;
	padding: 10px;

	background-color: #fff;
	border: 1px solid #092441;
	color: #333;
	font-size: 1.5rem;
	text-align: center;
	text-decoration: none;
	transition: background-color 0.3s, color 0.3s;
}

.movie:hover,
.movie-edit:hover {
	background-color: #092441;
	color: #fff;
}

.movie-details {
	display: grid;
}

.movie-edit {
	justify-self: end;

	padding: 7px;

	border: 1px solid #092441;
	color: #333;
	font-size: 1.2rem;
	text-decoration: none;
	transition: background-color 0.3s, color 0.3s;
}

.movie-title {
	font-size: 2rem;
	margin: 0;
}

.movie-year {
	font-weight: normal;
}

.movie-genre {
	font-size: 1.25rem;
	font-style: italic;
	font-weight: normal;
	margin: 0 0 15px 0;
}

.movie-poster {
	display: block;
	width: 200px;
	height: 300px;
	object-fit: cover;
	border: 1px solid #092441;
}

.form-title {
	justify-self: center;
	font-size: 2rem;
}